<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">


    <test verbose="2" preserve-order="true" name="C:/Users/shama/IdeaProjects/Maven1_jan_2025">
        <classes>

<class name="testng.failtestcase.ExampleOfFailScript"></class>

        </classes>
    </test>
</suite>